<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIV46L8vtrFJtVkDCCBS-2A3TcLMBt8rg</string>
	<key>GCM_SENDER_ID</key>
	<string>240962614855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yyu.library.yyuLibrary</string>
	<key>PROJECT_ID</key>
	<string>yyu-library</string>
	<key>STORAGE_BUCKET</key>
	<string>yyu-library.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240962614855:ios:f09d344aff90000751e362</string>
</dict>
</plist>